{% extends 'courses/base.html' %}

{% block title %}| About{% endblock %}

{% block content %}
    <h1>About Page</h1>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum, dolorum
        excepturi harum hic iste
        itaque nemo, nisi officiis pariatur perferendis porro, quae quidem quisquam quo saepe veritatis? Similique,
        voluptas! Autem blanditiis corporis cum deserunt dicta est et excepturi impedit in, ipsa iste
        laboriosam maxime, officia pariatur quis quo ratione recusandae rem repellendus repudiandae sed suscipit
        veniam voluptatum. Fugit, modi. Consequuntur incidunt inventore officiis vitae. Adipisci alias
        aliquam amet atque cumque dicta dolor est eum expedita, facilis labore laudantium molestias perspiciatis,
        porro quas sapiente sint sit totam vel voluptates voluptatum? A asperiores assumenda blanditiis
        consectetur cum, cumque deserunt dolor dolorem dolorum et harum in iusto labore laboriosam magni modi
        molestiae nihil nobis perspiciatis quae quibusdam reiciendis rerum suscipit veniam voluptas.</p>
{% endblock %}